<br />
<div class="w3-container">
    <div class="w3-row w3-container w3-animate-opacity">
        <br><br>
        <div class="w3-twothird  w3-center" style="padding-top:30px">
            <div>
                <h1>Princess Joy Calapano Duran</h1>
                <hr>
                <h3>Web Developer</h3>
                <p>Utilizes my mind's creativity and technical skills in developing applications through the most
                    modern development tools.</p>
            </div><br>
            <div class="w3-row">
                <div class="w3-col s4 w3-center">
                    <img src="../../../assets/pn.png" class="pn" style="width:100px"/>
                </div>
                <div class="w3-col s4  w3-center">
                    <img src="../../../assets/University_of_San_Carlos_logo.png" class="usc" style="width:100px"/>
                </div>
                <div class="w3-col s4 w3-center">
                        <img src="../../../assets/sykes.png" class="sykes" style="width:100px"/>
                </div>
            </div>
        </div>
        <div class="w3-third w3-center" style="padding-top:30px">
            <div class="w3-container">
                <img src="../../../assets/pj.jpg" class="w3-border w3-padding" alt="Alps">
            </div>
        </div>
    </div>
</div>