<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a class="w3-bar-item w3-button"><img src="../assets/logo.png" width="90" height="50"></a>
    <div class="w3-right" style="padding-top:10px">
      <a [routerLink]="['/']" class="w3-bar-item w3-button w3-round" style="margin-right:10px">About</a>
      <a [routerLink]="['/projects']" class="w3-bar-item w3-button w3-round" style="margin-right:10px">Projects</a>
      <a [routerLink]="['/resume']" class="w3-bar-item w3-button w3-round" style="margin-right:10px">Resume</a>
      <a [routerLink]="['/contact']" class="w3-bar-item w3-button w3-round" style="margin-right:10px">Contact</a>
    </div>
  </div>
</div>
<div class="w3-container">
  <router-outlet></router-outlet>
</div>
<div class="w3-bottom">
    <div class="w3-bar w3-grey w3-wide w3-padding w3-card">
      <a class="w3-bar-item w3-button">By: Princess Joy Duran @2020 Created using  <i class="fab fa-angular angular" style="font-size:20px;"></i>ngular</a>
      <div class="w3-right w3-hide-small">
          <span class="glyphicon glyphicon-envelope">&#x2709;</span>
          <a>ssecnirpyoj11@gmail.com &nbsp;&nbsp;</a>
          <a>Follow:</a>
          <a href="https://www.linkedin.com/in/princess-joy-duran-3301991a0/" target="__blank"><button class="w3-button"><i class="fab fa-linkedin"></i></button></a>
      </div>
    </div>
  </div>